<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= currentUser.username %>'s account</title>
</head>
<body>
    <%- include("partials/header.ejs", {user}) %>
    <main class="formMain">
        <form action="/account" method="Post" class="form">
            <label for="role">Change your role:</label>
            <select name="role" id="role">
                <option value="normal">Normal (You can see every memory with author's name)</option>
                <option value="vip">VIP (you can create new memory also)</option>
                <option value="admin">Admin(You can delete every memory that you want)</option>
            </select>
            <button type="submit" class="subBtn">Submit</button>
        </form>
        <% if (locals.role) { %>
            <p class="bold">Your currnet role is <%= role %></p>
        <% } %>
        <a href="/">Back to Home</a>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>